.footer{
    background-color:#e91e63;
    color: #fff;
    font-size: 12px;
}
.p-header{
    font-weight: 700;
    font-size: 14px;
}
.footer-header{
    border-top:1px solid #e91e63;
    text-align: center;
    background: #fff;
}
.header-name{
    text-align: center;
    font-weight: 100;
}
.border-pay{
    border-top: 1px solid white;
}
.footer-m{
   text-decoration: none;
    color: #fff;
    text-align: center;
    position: sticky;
}
.text-m{
    text-decoration: none;
    color: #fff;
}

     
   
@media screen and ( max-width:500px ){
   .footer-c{
    display: none;
   }
     .footer-header p{
        font-size: 12px;
        padding-bottom: 240px;
     }
   }
@media screen and ( min-width:500px ){
   .footer-m{
    display: none;
   }
  
  }