.product-img{
    height: 215px;
    width: 215px;
    object-fit: cover;
    display: flex;
    margin-bottom: 15px;
    background-color:#fff;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
   
}

.product{
    display: flex;
    background-color:#fff;
    flex-direction: column;
   border: 1px solid grey;
     margin: 4px;  
    /* padding: 20px; */
    margin-bottom: 50px;
    width: 100%; 
    max-height: 400px;
    max-width: 400px;
    
    /* border-radius: 5px; */
    z-index: 1; 
}
.btn2{
    /* border-radius: 5px; */
    /* background-color:#e91e63; */
    /* border: none; */
    padding: 10px 20px;
    /* color: #fff; */
    text-align: center;
}
.btn1{
    background-color: transparent;
    color: #e91e63;
    border: none;
}
.btn1:hover{
    opacity: 0.5;
}
.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.price{
     color: #1ca671;
    font-weight: 500;
    font-size: 20px;
} 

img:hover{
    transform: scale(1.2);
    transition: 500 ease-in-out;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);

}
img{vertical-align: bottom; transition: 0.5s;}

.pro-head{
    font-weight: 100;
}
.pagination{
padding: 10px;
margin: 10px 0;
display: flex;
justify-content: center;
}
.pagination span{
    padding: 10px 20px;
    border: 1px solid grey;
    cursor: pointer;
}
.pagination__selected{
    background: lightgrey;
}
